[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/JulioV/cupper-hugo-theme
[submodule "data/comments"]
	path = data/comments
	url = https://github.com/juliov/blog_comments.git
